@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif !important;
    background-color: rgb(236, 236, 236);
    transition:.25s ease-in-out !important;
    font-size: .875rem;
    color: #5c5776;
}
h4{
    font-size: 1rem;
    color: #18113c;
}
.titlee{
    color: #18113c;;
    margin: 50px 0px 50px !important;
    text-align: center;
}
.navbar{
    background-color: #4790c7 !important;
}
.navbar-nav{
    font-size: 15px;
    font-weight: 400 !important;
}
.dropdown-item{
    font-size: 14px;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    
}

.navbar .dropdown-menu{
    box-shadow: 0 10px 30px 0 rgb(31 45 61 / 10%);
    border-radius:.5rem;
    border: none;
    background-color: #fff;
}
.bg-primary{
    background-color: #4790c7 !important;
    justify-content: center !important;
}
.bg-second{
    background-color: 
}
.ola{
    position: absolute;
    width: 100%;
}
.font-weight-bold{
    font-weight: 700 !important;
}
.font-weight-semibold{
    font-weight: 600 !important;
}
.btn-success{
    color: #fff;
    background-color: #19cb98;
    border-color: #19cb98;
}.btn-white{
    color: #18113c;
    background-color: #fff;
    border-color: #fff;
}
.btn-success:hover{
    background-color: #19b88b;
    border-color: #1abb8d;
    color:#fff;
}
.btn-white:hover{
    background-color: #E5E5E5;
    position: relative;
}
.btn{
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .75rem 1.25rem;
    font-size: .875rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.icon-sahpe {
    height: 40px;
    width: 40px;
    background-color: #19cb98;
    margin-right: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
a:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
}
.card {
    float: left;
    padding: 0 1.7rem;
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    margin-bottom: 50px;
}
.card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
    content: '';
    display: table;
}
.card .menu-content::after {
    clear: both;
}
.card .menu-content li {
    display: inline-block;
}
.card .menu-content a {
    color: #fff;
}
.card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans';
    transform: translate(-50%, 0);
}
.card .wrapper {
    background-color: #fff;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
   border-radius: 12px ;
   }
.card .wrapper:hover .data {
    transform: translateY(0);
}
.card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
}
.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
}
.card .author {
    font-size: 12px;
}
.card .title {
    margin-top: 10px;

}
.card .text {
    height: 70px;
    margin: 0;
}
.card input[type='checkbox'] {
    display: none;
}
.card input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
}


.example-2 .wrapper {
    background: url(../img/administracion.jpg) center / cover no-repeat;
}
.example-3 .wrapper {
    background: url(../img/banca.jpg) center / cover no-repeat;
}
.example-4 .wrapper {
    background: url(../img/administracion_empresas.jpg) center / cover no-repeat;
}
.example-5 .wrapper {
    background: url(../img/contabilidad.jpg) center / cover no-repeat;
}
.example-6 .wrapper {
    background: url(../img/guia_turismo.jpg) center / cover no-repeat;
}
.example-7 .wrapper {
    background: url(../img/gastronomia.jpg) center / cover no-repeat;
}
.example-2 .wrapper:hover .menu-content span, 
.example-3 .wrapper:hover .menu-content span,
.example-4 .wrapper:hover .menu-content span,
.example-5 .wrapper:hover .menu-content span, 
.example-6 .wrapper:hover .menu-content span,
.example-7 .wrapper:hover .menu-content span {
    transform: translate(-50%, -10px);
    opacity: 1;
}
.example-2 .header,
.example-3 .header,
.example-4 .header,
.example-5 .header,
.example-6 .header,
.example-7 .header {
    color: #fff;
    padding: 1em;
}
.example-2 .header::before, .example-2 .header::after,
.example-3 .header::before, .example-2 .header::after,
.example-4 .header::before, .example-2 .header::after,
.example-5 .header::before, .example-2 .header::after,
.example-6 .header::before, .example-2 .header::after,
.example-7 .header::before, .example-2 .header::after {
    content: '';
    display: table;
}
.example-2 .header::after,
.example-3 .header::after,
.example-4 .header::after,
.example-5 .header::after,
.example-6 .header::after,
.example-7 .header::after{
    clear: both;
}
.example-2 .header .date,
.example-3 .header .date,
.example-4 .header .date,
.example-5 .header .date,
.example-6 .header .date,
.example-7 .header .date{
    float: left;
    font-size: 12px;
}
.example-2 .menu-content,
.example-2 .menu-content,
.example-2 .menu-content,
.example-2 .menu-content,
.example-2 .menu-content,
.example-2 .menu-content{
    float: right;
}
.example-2 .menu-content li,
.example-3 .menu-content li,
.example-4 .menu-content li,
.example-5 .menu-content li,
.example-6 .menu-content li,
.example-7 .menu-content li {
    margin: 0 5px;
    position: relative;
}
.example-2 .menu-content span,
.example-3 .menu-content span,
.example-4 .menu-content span,
.example-5 .menu-content span,
.example-6 .menu-content span,
.example-7 .menu-content span{
    transition: all 0.3s;
    opacity: 0;
}
.example-2 .data,
.example-3 .data,
.example-4 .data,
.example-5 .data,
.example-6 .data,
.example-7 .data {
    color: #fff;
    transform: translateY(calc(70px + 4em));
}
.example-2 .title a,
.example-3 .title a,
.example-4 .title a,
.example-5 .title a,
.example-6 .title a,
.example-7 .title a {
    color: #fff;
}
.example-2 .button,
.example-3 .button,
.example-4 .button,
.example-5 .button,
.example-6 .button,
.example-7 .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    position: relative;
    font-weight: 700;
}
.example-2 .button::after,
.example-3 .button::after,
.example-4 .button::after,
.example-5 .button::after,
.example-6 .button::after,
.example-7 .button::after {
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s;
}
.example-2 .button:hover::after,
.example-3 .button:hover::after, 
.example-4 .button:hover::after,
.example-5 .button:hover::after,
.example-6 .button:hover::after,
.example-7 .button:hover::after{
    transform: translate(15px, -50%); /*flechita*/
    opacity: 1;
}
/* =========================================== */
@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: white;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }

    .card { width: 33.33333333%;}
}
